<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @chatroom.user_id %>
</p>

<p>
  <strong>Room name:</strong>
  <%= @chatroom.room_name %>
</p>

<%= link_to 'Edit', edit_chatroom_path(@chatroom) %> |
<%= link_to 'Back', chatrooms_path %>
